/* Estilo Gerais*/

body {
  font-family: "Lato", sans-serif;
}

p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  line-height: 20px;
}

article {
  font-size: 14px;
  font-weight: bolder;
  letter-spacing: 0.1em;
}

img {
  display: block;
  max-width: 100%;
}

.btn {
  border: 3px solid #fec632;
  padding: 10px 30px;
  color: #fec632;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}

.btn:hover {
  color: #ffffff;
  border-color: #ffffff;
}

.btn-background-white:hover {
  color: #2a2a2a;
  border-color: #2a2a2a;
}

.subtitle {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.1em;
  color: #2a2a2a;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.subtitle:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #2a2a2a;
  margin: 8px auto;
}

.subtitle-intern {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.1em;
  color: #2a2a2a;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.subtitle-intern:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #2a2a2a;
  margin: 8px 0;
}

/*Header*/

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fec632;
  padding: 15px 0;
  z-index: 10; /* para o texto nao sobrepor o menu*/
}

.header_menu {
  text-align: right;
}

.header_menu ul li {
  display: inline-block;
  margin-left: 25px;
  margin-top: 20px;
}

.header_menu ul li a {
  color: #2a2a2a;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 14px;
  line-height: 21px;
  padding: 10px 0;
}

.header_menu ul li a:hover {
  color: #ffffff;
}

.header_menu ul li a.active {
  color: #ffffff;
}

/*Introdução*/

.introduction {
  width: 100%;
  height: 380px;
  background: url("../img/jpg/bg.jpg") no-repeat center;
  background-size: cover;
  margin-top: 92px;
  text-align: center;
  padding-top: 80px;
}

.introduction h1 {
  font-size: 48px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
}

.quote-externo {
  max-width: 320px;
  margin: 0 auto;
  color: #ffffff;
  margin-bottom: 50px;
}

.quote-externo p {
  font-style: italic;
}
.quote-externo p:before,
.quote-externo p:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #ffffff;
  margin: 14px auto 10px auto;
}

.quote-externo cite {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.1em;
}

/*Introdução Interna*/

.introduction-two {
  width: 100%;
  margin-top: 92px;
  height: 160px;
  text-align: center;
  color: #ffffff;
  padding-top: 30px;
}

.introduction-two h1 {
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.introduction-two h1:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #ffffff;
  margin: 6px auto 10px auto;
}

/*Produtos*/

.products {
  padding: 60px 0;
}

.products_list li {
  background: #fec632;
  text-align: center;
}

.products_list li img {
  margin: 0 auto;
}

.products_list li h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-top: 20px;
}

.products_list li h3:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #2a2a2a;
  margin: 2px auto;
}

.products_list li p {
  padding: 10px 20px 20px 20px;
}

.products-icon {
  background: #2a2a2a;
  padding: 20px;
}

.call-to-action {
  padding-top: 40px;
  text-align: center;
  clear: both;
}

.call-to-action p {
  margin-bottom: 20px;
}

/*Portifólio*/

.portifolio {
  width: 100%;
  background: #2a2a2a;
  padding: 40px 0;
}

.portifolio .subtitle {
  color: #fec632;
}

.portifolio .subtitle:after {
  background: #fec632;
}

.portifolio-list li:last-child {
  margin-top: 20px;
}

.portifolio .call-to-action p {
  color: #ffffff;
}

/*Qualidade*/

.quality {
  padding: 60px 0;
}

.quality:after {
  content: "";
  width: 634px;
  height: 83px;
  display: block;
  background: url("../img/svg/linhas.svg") no-repeat center;
  position: absolute;
  top: 245px;
  right: 163px;
  z-index: -1;
}

.quality img {
  margin: 0 auto;
}

.quality-list {
  padding-top: 70px;
  overflow: auto;
}

.quality-list li {
  text-align: center;
  padding: 0 40px;
}

.quality-list li h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-top: 10px;
}

.quality-list li h3:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #2a2a2a;
  margin: 6px auto;
}

.break {
  width: 100%;
  height: 220px;
  background: url("../img/jpg/bg-footer.jpg") no-repeat center;
  background-size: cover;
  text-align: center;
  padding-top: 40px;
}

.break .quote-externo {
  max-width: 400px;
}

/*Footer*/

.footer {
  width: 100%;
  background: #2a2a2a;
  color: #ffffff;
  padding: 20px 0;
}

.footer h3 {
  font-size: 18px;
  line-height: 27px;
  color: #fec632;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}

.footer h3:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #fec632;
  margin: 6px 0 12px 0;
}

.history-footer {
  padding-right: 40px;
}

.contact-footer ul li {
  font-size: 14px;
  line-height: 21px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.social-midia-footer ul li {
  display: inline-block;
  margin-right: 10px;
}

.social-midia-footer ul li a {
  border: 3px solid #fec632;
  display: block;
  padding: 10px;
}

.social-midia-footer ul li a:hover {
  border-color: #ffffff;
}

.copy {
  width: 100%;
  background: #fec632;
  padding: 20px 0;
}

/*JavaScript Slide*/
.js [data-slide] {
  position: relative;
}
.js [data-slide] > * {
  position: absolute;
  top: 0px;
  opacity: 0;
}
.js [data-slide] > .active {
  position: relative;
  opacity: 1;
  transition: opacity 500ms;
  z-index: 1;
}

.js [data-slide-nav] {
  display: block;
  text-align: center;
  margin-top: 20px;
}

.js [data-slide-nav] button {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 4px;
  border: none;
  padding: 0;
  border-radius: 6px;
  text-indent: -99px;
  overflow: hidden;
  background: #000000;
}

.js [data-slide-nav] button.active {
  background: #fec632;
}

.js [data-anime] {
  opacity: 0;
}

.js .fadeInDown {
  transform: translate3d(0, -20px, 0);
}

.js .anime {
  opacity: 1;
  transform: none;
  transition: opacity 800ms, transform 800ms;
}
